[core]
    editor = vim
    excludesfile = ~/.gitignore

[commit]
    verbose = true
[pull]
    rebase = true
[branch]
    autosetuprebase = always
[push]
    default = simple
[rebase]
    autoSquash = true
    autoStash = true

[user]
    email = denizoutimothee@gmail.com
    name = Timothee Denizou
[alias]
    c = commit -m
    p = push
    pt = push --follow-tags
    s = status
    fetch = fetch --all
    pushd = push -u origin HEAD
    l = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lg = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
    ui = true
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[init]
	defaultBranch = master
